body{
    display: block;
    font-family: "Raleway", Arial, sans-serif;
    margin: 0px;
    padding: 0px}

.content{
    max-width: 1000px;
    margin: 0 auto;
    color: grey;
}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    }

h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    }

h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 20px 20px 20px;
    margin: 0;
    }

header{
    margin: 0;
    background-color: lightgrey;
}
  
.nav{
    border-width:0;
    list-style:none;
    margin:0;
    padding:0px;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:20px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    background-color: grey;
    color: black;
  }

.container { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 60px; 
    border: 0px; 
    width: 100%; 
}

.container-half { 
    margin: 0; 
    border: 0; 
}

img{
    width: 100%;
}

footer{
    margin: 0;
    background-color: lightgrey;
}

.bottom{
    border-width:0;
    list-style:none;
    padding: 10px;
    text-align:center;
}

/* Style all font awesome icons */
.fa {
    padding: 0;
    font-size: 50px!important;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.5;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-instagram {
    background: lightgrey;
    color: black;
  }


.form-group{
    margin-bottom:1.5em;
    transition:all .3s;
}

.form-label{
    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);
}

.form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
    transition:all .6s;
}

.form-control::placeholder{
    color:#aaa;
}
.form-control:focus{
    box-shadow:none;
    border-color:var(--font-hover-color);
    outline:none;
}
.form-group:focus-within{
    transform:scale(1.1,1.1);
}

.form-control:invalid:focus{
    border-color:red;
}
.form-control:valid:focus{
    border-color:green;
}

.btn{
    background: 0 0 #fff;
    border:1px solid #aaa;
    border-radius:3px;
    color:var(--font-color);
    font-size:1em;
    padding:10 50px;
    text-transform:uppercase;
}
.btn:hover{
    border-color:var(--font-hover-color);
    color:var(--font-hover-color);
}
textarea{
    resize:none;
}



.focused > .form-label{
    opacity:1;
    transform:translateX(0px);

}